#!/usr/bin/env bash
# automat export
set -a
OS_USERNAME=admin
OS_PASSWORD=password
OS_TENANT_NAME=admin
OS_USER_DOMAIN_NAME=Default
OS_PROJECT_DOMAIN_NAME=Default
OS_AUTH_URL="http://controller:5000/v3"
set +a